.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 20px;

}

.photo-container {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: 2px solid #4c4c4f;
  text-align: center;
  background: url("../../assets/image/foo.png");

}

.photo-container img {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.photo-container .text-overlay {
  position: absolute;
  bottom: 10px;
  left: 40px;
  right: 10px;
  width: 83%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photo-container:hover .text-overlay {
  opacity: 1;
}

.photo-container p {
  margin: 0;
}

.text-overlay p {
  margin: 0;
}
.mini{
  height: 50px;
  width: 50px;
}
